extends layout

block scripts 
    script(src="/js/forms.js" type="module" defer)

block content
    .main.recover.is-flex.is-justify-content-space-evenly
        img.is-unselectable.no-pointerevents.blob(src="/media/images/blob.svg" alt="blob" draggable="false")
        form.form.recover.is-radiusless.mx-5(action="" method="POST")
            p.title= __("recover.title")

            if token
                .field
                    label.label #{__("recover.form.password")}:
                    .control.has-icons-left.has-icons-right
                        input.input(type="password" name="password" placeholder=__("recover.form.password") data-input="password" required)
                        span.icon.is-small.is-left
                            i.fas.fa-sharp.fa-solid.fa-key
                .field
                    label.label #{__("recover.form.confirmPassword")}:
                    .control.has-icons-left.has-icons-right
                        input.input(type="password" name="password2" placeholder=__("recover.form.password") data-input="password" required)
                        span.icon.is-small.is-left
                            i.fas.fa-sharp.fa-solid.fa-key

                if error
                    .notification.is-danger.px-4.py-2= error

            else
                if mailSent
                    .notification.is-success.px-4.py-2= __("recover.success")

                if expiredToken
                    .notification.is-warning.px-4.py-2= __("recover.failure")

                .field
                    label.label #{__("recover.form.email")}:
                    .control.has-icons-left.has-icons-right
                        input.input(type="email" name="email" placeholder=__("recover.form.emailPlaceholder") data-input="email" autofocus required)
                        span.icon.is-small.is-left
                            i.fas.fa-envelope

                    p.help= __("recover.help")

            .field
                .control.has-text-centered
                    button.button.is-primary.is-fullwidth= __("recover.title")